<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.3mpq.Corder</string>
    <key>CFBundleName</key>
    <string>Corder</string>
    <key>CFBundleDisplayName</key>
    <string>Corder</string>
    <key>CFBundleExecutable</key>
    <string>Corder</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.2.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSMicrophoneUsageDescription</key>
    <string>Corder records your microphone so meetings can be transcribed.</string>
    <key>NSCameraUsageDescription</key>
    <string>Corder does not use the camera.</string>
</dict>
</plist>
