<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Corder</string>
	<key>CFBundleExecutable</key>
	<string>Corder</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.3mpq.Corder</string>
	<key>CFBundleName</key>
	<string>Corder</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.15.41</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.3mpq.Corder.auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>corder</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>202</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.2</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSAudioCaptureUsageDescription</key>
	<string>Corder records the other participants' audio from your calls so meetings can be transcribed.</string>
	<key>NSCameraUsageDescription</key>
	<string>Corder does not use the camera.</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSMicrophoneUsageDescription</key>
	<string>Corder records your microphone so meetings can be transcribed.</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://halinskiy.github.io/corder-updates/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>2Ne7z6Ps8wOBB0xFredP5la4nQbr61Gpn0vh8f3YOyo=</string>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
</dict>
</plist>
